@media only screen and (min-width: 1200px) {
    .blogContentContainer {
        display:grid;
        grid-template-columns: 900px 900px;
        grid-template-rows: 900px 900px;
        grid-gap:10px;
        justify-content: center;
    }
}